#intro {
  height: 1000px;
  width: 100%;
}
#intro .background-image {
  height: 800px;
  width: 100%;
  background: url("../../../medya/image/105874696-1556279627825gettyimages-947895256.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#intro .background-image .header {
  height: 100px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}
#intro .background-image .header .container {
  width: 86%;
  height: 100px;
  margin: 0px auto;
}
#intro .background-image .header .container .row {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#intro .background-image .header .container .row .col-6 {
  height: 100px;
}
#intro .background-image .header .container .row .col-6-left {
  display: flex;
  align-items: center;
  width: 57%;
  justify-content: flex-start;
}
#intro .background-image .header .container .row .col-6-left a {
  line-height: 100px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}
#intro .background-image .header .container .row .col-6-right {
  width: 43%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#intro .background-image .header .container .row .col-6-right ul {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
#intro .background-image .header .container .row .col-6-right ul li a {
  text-decoration: none;
  display: inline;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
}
#intro .background-image .middle {
  height: 300px;
  width: 100%;
  margin-top: 100px;
}
#intro .background-image .middle .container {
  width: 86%;
  height: 300px;
  margin: 0px auto;
}
#intro .background-image .middle .container .row {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#intro .background-image .middle .container .row .col-6 {
  width: 50%;
  height: 300px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#intro .background-image .middle .container .row .col-6 .button {
  height: 40px;
  width: 180px;
  border-radius: 25px;
  background-color: rgb(161, 44, 47);
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro .background-image .middle .container .row .col-6 .button a {
  text-decoration: none;
  display: inline;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
}
#intro .background-image .middle .container .row .col-6 .content p {
  color: #fff;
  padding: 8px 0px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 15px;
}
#intro .background-image .middle .container .row .col-6 .content p span {
  color: #fff;
  padding: 8px 0px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgb(51, 204, 255);
}
#intro .background-image .middle .container .row .col-6 h2 {
  line-height: 100px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  line-height: normal;
}
#intro .background-image .middle .container .row .col-6 h5 {
  line-height: 100px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: normal;
}
#intro .background-image .middle .services-cards {
  height: 250px;
  width: 100%;
}
#intro .background-image .middle .services-cards .container {
  width: 86%;
  height: 250px;
}
#intro .background-image .middle .services-cards .container .row {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
#intro .background-image .middle .services-cards .container .row .col-4 {
  width: 32%;
  height: 250px;
  padding: 25px;
  background-color: rgb(161, 44, 47);
  border-radius: 25px;
}

#intro .background-image .header .container .row .col-6-right ul li a:hover {
  color: #ffb700;
  transition: 1s;
}

#intro .background-image .middle .container .row .col-6-left .content p span:hover {
  color: #ffb700;
  cursor: pointer;
  transition: 1s;
}/*# sourceMappingURL=intro-section.css.map */