@import '../utilities/mixins/mixins';
#intro{
    height: 1000px;
    width: 100%;
    .background-image{
          height: 750px;
          width: 100%;
          background: url('../../../medya/image/105874696-1556279627825gettyimages-947895256.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
         background-position: center;
         .header{
            height: 100px;
            width: 100%;
            background-color: rgba(128, 128, 128, 0.5);
            .container{
                width: 86%;
                height: 100px;
                margin: 0px auto;
                
                .row{
                    height: 100px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    
                    .col-6{
                        
                        height: 100px;
                    }
                    .col-6-left{
                        display: flex;
                        align-items: center;
                        width: 57%;
                        justify-content: flex-start;
                        a{
                            @include HeaderLogoFontStyles();
                        }
                    }
                    .col-6-right{
                        width: 43%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        ul{
                            width: 100%;
                            height: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            list-style-type: none;
                           
                            li{
                                a{
                                    text-decoration: none;
                                    @include HeaderATagFontStyles();
                                }
                            }
                        }
                    }
                }
            }
         }
         .middle{
            height: 300px;
            width: 100%;
            margin-top: 100px;
            .container{
                width: 86%;
                height: 300px;
                margin: 0px auto;
                .row{
                    width: 100%;
                    height: 300px;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    .col-6{
                        width: 50%;
                        height: 250px;
                        margin-top: 50px;
                        flex-direction: column;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        .button{
                            height: 40px;
                            width: 180px;
                            border-radius: 25px;
                            background-color: rgb(161, 44, 47);
                            transition: 1s;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a{
                                text-decoration: none;
                                @include HeaderATagFontStyles();
                            }
                        }
                        .content{
                            p{
                                @include HeaderParagraphTagStyles();
                                font-size: 15px;
                                line-height: 15px;
                                span{
                                    @include HeaderParagraphTagStyles();
                                    color: rgb(51, 204, 255);
                                    
                                }
                            }
                        }
                        h2{
                            @include HeaderLogoFontStyles();
                            font-size: 35px;
                            line-height: normal
                        }
                        h5{
                            @include HeaderLogoFontStyles();
                            font-size: 16px;
                            line-height: normal;
                        }
                    }
                }
            }
        }
        .services-cards{
            height: 280px;
            width: 100%;
            position: relative;
            top: 15%;
            display: flex;
            i{
                background-color: white;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                top: 45%;
                margin: 0px auto;
                transition: 1s;
            }
           
            .container{
                width: 86%;
                height: 280px;
                margin: 0px auto;
                .row{
                    height: 280px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .col-4{
                        width: 32%;
                        height: 280px;
                        
                        background-color: rgb(161, 44, 47);
                        padding-left:25px;
                        padding-top:25px;
                        padding-right:25px;
                        padding-bottom:25px;
                        border-radius: 25px;
                        .container{
                            height: 250px;
                            width: 95%;
                            margin: 0px auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            .second-row{
                                h1{
                                    font-family: Poppins, sans-serif;
                                    color: rgb(255, 255, 255);
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }
                            .third-row{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                p{
                                    @include HeaderParagraphTagStyles();
                                    padding: 0px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
       
    }
}
#intro .background-image .header .container .row .col-6-right ul li a:hover{
    color: #ffb700;
    transition: 1s;
  }
  #intro .background-image .middle .container .row .col-6-left .content p span:hover{
    color: #ffb700;
    cursor: pointer;
    transition: 1s;
  }
  #intro .background-image .services-cards i:hover{
    background-color: rgba(128, 128, 128, 0.5);
    transition: 1s;
    cursor: pointer;
}
#intro .background-image .middle .container .row .col-6 .button:hover{
    cursor: pointer;
    transition: 1s;
    background-color: rgb(170, 62, 65);
}
    


  