#applyNow {
  height: 800px;
  width: 100%;
  background-image: url(../../../medya/image/apply-now/apply-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0px;
}
#applyNow .container-applyNow {
  width: 86%;
  margin: 0px auto;
  height: 600px;
}
#applyNow .container-applyNow .external-row {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
#applyNow .container-applyNow .external-row .col-6-left {
  width: 51%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#applyNow .container-applyNow .external-row .col-6-left .internal-rows {
  height: 250px;
  width: 100%;
  padding: 0px 30px;
  padding-bottom: 40px;
  background-color: rgba(222, 214, 214, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
#applyNow .container-applyNow .external-row .col-6-left .internal-rows .title h1 {
  line-height: 100px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}
#applyNow .container-applyNow .external-row .col-6-left .internal-rows .content {
  margin-bottom: 25px;
}
#applyNow .container-applyNow .external-row .col-6-left .internal-rows .content p {
  color: #fff;
  padding: 8px 0px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 0;
}
#applyNow .container-applyNow .external-row .col-6-left .internal-rows .button .click-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#applyNow .container-applyNow .external-row .col-6-left .internal-rows .button .click-button span {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
}
#applyNow .container-applyNow .external-row .col-6-left .first-row .button .click-button {
  background-color: rgb(161, 44, 47);
}
#applyNow .container-applyNow .external-row .col-6-left .second-row .button .click-button {
  background-color: goldenrod;
}
#applyNow .container-applyNow .external-row .col-6-right {
  width: 44%;
  height: 100%;
  border-radius: 25px;
  background-color: white;
}
#applyNow .container-applyNow .external-row .col-6-right .content {
  padding: 40px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .first-row {
  height: 180px;
  border-bottom: 1px solid rgba(172, 170, 170, 0.4);
}
#applyNow .container-applyNow .external-row .col-6-right .content .first-row .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .first-row .title h1 {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
  text-transform: none;
  color: #ffb700;
  font-size: 20px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .first-row .text {
  padding-left: 25px;
  margin-top: 10px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .first-row .text p {
  color: #fff;
  padding: 8px 0px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgb(76, 76, 76);
  padding: 0;
}
#applyNow .container-applyNow .external-row .col-6-right .content .first-row .text p span {
  color: rgb(51, 204, 255);
}
#applyNow .container-applyNow .external-row .col-6-right .content .second-row {
  height: 100px;
  border-bottom: 1px solid rgba(172, 170, 170, 0.4);
}
#applyNow .container-applyNow .external-row .col-6-right .content .second-row .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .second-row .title h1 {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
  text-transform: none;
  color: black;
  font-size: 20px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .second-row .text {
  padding-left: 25px;
  margin-top: 10px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .second-row .text p {
  color: #fff;
  padding: 8px 0px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgb(76, 76, 76);
  padding: 0;
}
#applyNow .container-applyNow .external-row .col-6-right .content .second-row .text p span {
  color: rgb(51, 204, 255);
}
#applyNow .container-applyNow .external-row .col-6-right .content .third-row {
  height: 100px;
  border-bottom: 1px solid rgba(172, 170, 170, 0.4);
}
#applyNow .container-applyNow .external-row .col-6-right .content .third-row .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .third-row .title h1 {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
  text-transform: none;
  color: black;
  font-size: 20px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .third-row .text {
  padding-left: 25px;
  margin-top: 10px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .third-row .text p {
  color: #fff;
  padding: 8px 0px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgb(76, 76, 76);
  padding: 0;
}
#applyNow .container-applyNow .external-row .col-6-right .content .third-row .text p span {
  color: rgb(51, 204, 255);
}
#applyNow .container-applyNow .external-row .col-6-right .content .fourth-row {
  height: 100px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .fourth-row .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .fourth-row .title h1 {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
  text-transform: none;
  color: black;
  font-size: 20px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .fourth-row .text {
  padding-left: 25px;
  margin-top: 10px;
}
#applyNow .container-applyNow .external-row .col-6-right .content .fourth-row .text p {
  color: #fff;
  padding: 8px 0px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgb(76, 76, 76);
  padding: 0;
}
#applyNow .container-applyNow .external-row .col-6-right .content .fourth-row .text p span {
  color: rgb(51, 204, 255);
}

#applyNow .container-applyNow .external-row .col-6-right .content .first-row .text p span:hover {
  cursor: pointer;
  color: #ffb700;
}

#applyNow .container-applyNow .external-row .col-6-right .content .second-row .title h1:hover {
  cursor: pointer;
  color: #ffb700;
}

#applyNow .container-applyNow .external-row .col-6-right .content .third-row .title h1:hover {
  cursor: pointer;
  color: #ffb700;
}

#applyNow .container-applyNow .external-row .col-6-right .content .fourth-row .title h1:hover {
  cursor: pointer;
  color: #ffb700;
}/*# sourceMappingURL=ApplyNow.css.map */